<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<h1>Routing Example</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a routerLink="/first" routerLinkActive="active" class="nav" style="padding-right: 10px;">Page 1</a></li>
      <li><a routerLink="/secound" routerLinkActive="active">Page 2</a></li>
    </ul>
  </div>
</nav>
<h1>Welcome to Home Page</h1>
<router-outlet></router-outlet>